<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--1方言，便于hibernate对象操作转化为合适的数据库语句  -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--2驱动路径注意数据库类型  -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--3数据库路径  -->
        <property name="connection.url">jdbc:mysql://192.168.101.242:3306/megaspace?useSSL=false</property>
        <!--4数据库用户名  -->
        <property name="connection.username">root</property>
        <!--5数据库密码  -->
        <property name="connection.password">123456</property>
        <!--自动建表，表名=tablename  -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--是否显示sql语句，sql一般会很难看  默认为false
        <property name="hibernate.show_sql">false</property>-->


        <!--c3p0配置-->
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="automaticTestTable">Test</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <property name="hibernate.c3p0.acquire_increment">3</property>
        <property name="c3p0.testConnectionOnCheckout">true</property>
        <property name="c3p0.idleConnectionTestPeriod">18000</property>
        <property name="c3p0.maxIdleTime">25000</property>
        <property name="c3p0.idle_test_period">120</property>

        <!--定义在从数据库获取新连接失败后重复尝试的次数。Default: 30 -->
        <property name="acquireRetryAttempts">30</property>
        <!--两次连接中间隔时间，单位毫秒。Default: 1000 -->
        <property name="acquireRetryDelay">600000</property>
        <!--每60秒检查所有连接池中的空闲连接。Default: 0 -->
        <property name="idleConnectionTestPeriod">600</property>





        <!--下一个层级的映射文件，用来配置bean对象与数据表之间的关系  -->
        <mapping class="com.junshijia.ecs.domain.UpdateData2DB"/>
        <mapping class="com.junshijia.ecs.domain.OneSecData2DB"/>
        <mapping class="com.junshijia.ecs.domain.AnyOneSecData2DB"/>
        <mapping class="com.junshijia.ecs.domain.TenMinData2DB"/>
        <mapping class="com.junshijia.ecs.domain.ExtraTenData2DB"/>
    </session-factory>
</hibernate-configuration>